# №1

In [14]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))


ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser1)
print(ser2)
print(ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# №2

In [9]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

frame = ser.to_frame().reset_index()

print(frame)

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# № 3

In [22]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({'col1': ser1, 'col2' : ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

# № 4

In [15]:
import pandas as pd 
import numpy as np

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "latin-letters"

print(ser.head(10))

0    a
1    b
2    c
3    e
4    d
5    f
6    g
7    h
8    i
9    j
Name: latin-letters, dtype: object

# № 5

In [16]:
import pandas as pd 
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# № 6

In [17]:
import pandas as pd 
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# № 7

In [19]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 4.81933068,  9.78091985, 12.02125957, 15.31682401, 19.837484  ])

# № 8

In [20]:
import pandas as pd 
import numpy as np


ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    6
d    6
g    5
h    5
b    4
e    2
f    1
a    1
Name: count, dtype: int64

# № 9

In [31]:
import pandas as pd 
import numpy as np


np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Ton 2: ", ser.value_counts())

ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

Ton 2:  4    3
1    3
3    3
2    3
Name: count, dtype: int64

C:\Users\matve\AppData\Local\Temp\ipykernel_6208\3941843665.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

# № 10

In [36]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.random(20))
print(ser.head())

pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']).head()

0    0.157660
1    0.367488
2    0.881138
3    0.655473
4    0.222542
dtype: float64

0     1
1     3
2    10
3     6
4     2
dtype: category
Categories (10, object): ['1' < '2' < '3' < '4' ... '7' < '8' < '9' < '10']

# № 11

In [38]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7,5))

print(df)

   0  1  2  3  4
0  3  1  2  4  3
1  9  4  8  1  5
2  7  4  2  1  1
3  9  5  6  8  5
4  5  8  7  7  2
5  4  5  2  9  8
6  7  4  6  9  4

# № 12

In [40]:
ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)

np.argwhere(ser % 3 == 0)

0    5
1    9
2    6
3    7
4    3
5    4
6    2
dtype: int32

array([[1],
       [2],
       [4]], dtype=int64)

# № 13

In [41]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print(ser.take(pos))

0     a
4     e
8     i
14    o
20    u
dtype: object

# № 14

In [19]:
import numpy as np
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

ser3 = pd.concat([ser1, ser2], axis=1)

print(ser3)

ser4 = pd.concat([ser1, ser2], axis=0)

print (ser4)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

# № 15

In [22]:
import numpy as np
import pandas as pd

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

res = [pd.Index(ser1).get_loc(i) for i in ser2]

print(res)

[5, 4, 0, 8]

# № 16

In [32]:
import numpy as np
import pandas as pd
import sklearn.metrics as sm

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = sm.mean_squared_error(truth, pred)

print(mse)

0.3512259054649033

# № 17

In [53]:
import numpy as np
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser = ser.str.capitalize()

print(ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

# № 18

In [54]:
import numpy as np
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

res = [len(x) for x in ser]

print(res)

[3, 2, 4, 4]

# № 19

In [55]:
import numpy as np
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

res = [ser[i]-ser[i-1] for i in range(1,len(ser))]

print(res)

[2, 3, 4, 5, 6, 6, 8]

# № 20

In [56]:
import numpy as np
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser = ser.apply(pd.to_datetime)

print(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# № 21

In [89]:
import numpy as np
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser = ser.apply(pd.to_datetime)

print("Date: ", [pd.Index(ser).get_loc(x)+1 for x in ser])
print("Week number: ", [x.weekofyear for x in ser])
print("Day num of year: ", [x.dayofyear for x in ser])
print("Day of week: ", [x.dayofweek for x in ser])

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]

# № 22

In [91]:
import numpy as np
import pandas as pd
 
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.apply(lambda x: x.join('01'))

ser = ser.apply(pd.to_datetime)

print(ser)

0   2010-01-01
1   2011-02-01
2   2012-03-01
dtype: datetime64[ns]

# № 23

In [101]:
import numpy as np
import pandas as pd
 
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = "aeiou"
index = [pd.Index(ser).get_loc(x) for x in ser if len([c for c in x.lower() if c in vowels]) >= 2]

ser.take(index)

0     Apple
1    Orange
4     Money
dtype: object

# № 24

In [137]:
import numpy as np
import pandas as pd

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

print(pd.Series([itm for itm in emails.str.findall(pattern) if len(itm) > 0]))

0    [rameses@egypt.com]
1            [matt@t.co]
2    [narendra@modi.com]
dtype: object

# № 25

In [27]:
import numpy as np
import pandas as pd

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist(), len(weights))
print(fruit.tolist(), len(fruit))


data = pd.DataFrame({"fruit": fruit, "weights": weights})
data = data.groupby(["fruit"]).mean()
print(data)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0] 10
['carrot', 'banana', 'banana', 'apple', 'carrot', 'apple', 'carrot', 'apple', 'apple', 'carrot'] 10
        weights
fruit
apple      6.75
banana     2.50
carrot     5.75

# № 26

In [33]:
from numpy.linalg import norm
import pandas as pd

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

res = norm(p-q)

print(format(res,".3f"))

18.166

# № 27

In [8]:
import pandas as pd 
import numpy as np

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = np.where((ser > ser.shift(1)) & (ser > ser.shift(-1)))[0]

print(peaks)

[1 5 7]

# № 28

In [39]:
import pandas as pd

my_str = 'dbc deb abed gade'

ser = pd.Series(list(my_str))

least_freq = ser.value_counts(ascending=True).index[0]

res = "".join(ser.replace(' ', least_freq)) 

print(res, "# least frequent is: '", least_freq,"'")

dbccdebcabedcgade # least frequent is: ' c '

# № 29

In [31]:
import pandas as pd 
from random import randint

dates = pd.date_range(start="2000-01-01", periods=10, freq="W-SAT", inclusive='left')

rand = [randint(0,100) for _ in range(len(dates))]

ser = pd.Series(rand, index=dates)

print (ser)

2000-01-01     43
2000-01-08     46
2000-01-15     64
2000-01-22     27
2000-01-29     49
2000-02-05     24
2000-02-12    100
2000-02-19     43
2000-02-26     65
2000-03-04     16
Freq: W-SAT, dtype: int64

# № 30

In [36]:
import pandas as pd
import numpy as np 

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

ser = ser.resample('D').ffill()
print(ser)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

# № 31

In [69]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(1, 11)]

print(autocorrelations)

max_corr_index = np.argmax(np.abs(autocorrelations)) + 1  
print("Lag having highest correlation:", max_corr_index)

[0.3391296211051321, 0.06114834973779056, -0.18531406606599055, -0.35957387252638445, -0.05064658187652227, -0.17727828635373485, 0.07176642893000457, -0.05410372795635989, -0.17147777039375145, -0.05581787252106976]
Lag having highest correlation: 4

# № 32

In [12]:
import pandas as pd 
import csv

rows = len(pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'))
print (rows)
skip = [i for i in range(rows) if i % 50 != 0]
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', skiprows= lambda x: x in skip)

print (df)

506
       crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0   0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1   0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2   2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3   0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4   0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5   0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6   0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7   9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8   7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9   0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2
10  0.04741   0  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0

         b  lstat  medv
0   396.90  16.20  19.4
1   396.90   6.19  33.2
2   351.85  21.45  15.4
3   396.90   4.56  34.9
4   393.74   6.56  26.2
5   371.58   4.74  29.0
6   389.85   5.89  26.6
7   338.16  29.97   6.3
8   304.21  19.31  13.0
9   395.77  15.10  17.5
10  396.90   7.88  11.9

# № 33

In [19]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv').rename(columns={'medv': 'median house value'})
df['median house value'] = df['median house value'].apply(lambda x: 'Low'  if x < 25 else 'High')

print (df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat median house value
0       15.3  396.90   4.98                Low
1       17.8  396.90   9.14                Low
2       17.8  392.83   4.03               High
3       18.7  394.63   2.94               High
4       18.7  396.90   5.33               High
..       ...     ...    ...                ...
501     21.0  391.99   9.67                Low
502     21.0  396.90   9.08                Low
503     21.0  396.90   5.64                Low
504     21.0  393.45   6.48                Low
505     21.0  396.90   7.88                Low

[506 rows x 14 columns]

# № 34

In [122]:
import pandas as pd
import numpy as np

L = pd.Series(range(15))

step_size = 2
col_size = 4

    0   1
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
5  10  11
6  12  13

# № 35

In [27]:
import pandas as pd 

csv = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])

print (csv)

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

# № 36

In [31]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
arr = df.to_numpy()
l = df.values.tolist()

print (df.info())

print ('numpy array: ', arr)

print ('list: ', l)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
None
numpy array:  [['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

# № 37

In [32]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

max_price_idx = df['Price'].idxmax()

manufacturer = df.loc[max_price_idx, 'Manufacturer']
model = df.loc[max_price_idx, 'Model']
car_type = df.loc[max_price_idx, 'Type']

print ('Manufacturer: ', manufacturer)
print ('Model: ', model)
print ('Car type: ', car_type)

print ('row: ', max_price_idx)
print ('col: ', df.columns.get_loc('Price'))

Manufacturer:  Mercedes-Benz
Model:  300E
Car type:  Midsize
row:  58
col:  4

# № 38

In [37]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df = df.rename(columns={'Type' : 'CarType'})
df.columns = df.columns.str.replace('.','-')
print (df)

   Manufacturer    Model  CarType  Min-Price  Price  Max-Price  MPG-city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG-highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn-circle Rear-seat-room  Luggage-room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

/tmp/ipykernel_2353/357511235.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.','-')

# № 39

In [38]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_vals = df.isnull().any().any()

print (missing_vals if missing_vals else 'There no missing values')

True

# № 40

In [52]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_vals = df.isnull().sum()
# print (missing_vals)
print (missing_vals.idxmax())

Luggage.room

# № 41

In [57]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print (df[['Max.Price', 'Min.Price']].head())
print (df['Min.Price'].mean())
print (df['Max.Price'].mean())

df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)
df['Max.Price'].fillna(df['Max.Price'].mean(), inplace=True)

print(df[['Max.Price', 'Min.Price']].head())

   Max.Price  Min.Price
0       18.8       12.9
1       38.7       29.2
2       32.3       25.9
3       44.6        NaN
4        NaN        NaN
17.118604651162787
21.45909090909091
   Max.Price  Min.Price
0  18.800000  12.900000
1  38.700000  29.200000
2  32.300000  25.900000
3  44.600000  17.118605
4  21.459091  17.118605

# № 42

In [64]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

mean_value = df['Min.Price'].mean()
median_value = df['Max.Price'].median()


df['Min.Price'] = df['Min.Price'].apply(lambda x: mean_value if pd.isnull(x) else x)
df['Max.Price'] = df['Max.Price'].apply(lambda x: median_value if pd.isnull(x) else x)

print (df[['Max.Price', 'Min.Price']].head())

   Max.Price  Min.Price
0      18.80  12.900000
1      38.70  29.200000
2      32.30  25.900000
3      44.60  17.118605
4      19.15  17.118605

# № 43

In [65]:
import pandas as pd

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

res = df[['a']]

print (type(res))
print (res)

<class 'pandas.core.frame.DataFrame'>
    a
0   0
1   5
2  10
3  15

# № 44

In [11]:
import pandas as pd 
import numpy as np

def change_cols(df, col1, col2):
    tmp_col = df[col1]
    df[col1] = df[col2]
    df[col2] = tmp_col


df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print ("Original DataFrame")
print (df.head())

print ("Changed 'a' and 'c' cols")
change_cols(df, 'a', 'c')
print (df.head())

cols = df.columns

for i in range(len(cols) // 2):
    change_cols(df, cols[i], cols[len(cols)-1])

print (df.head())

Original DataFrame
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
Changed 'a' and 'c' cols
    a   b   c   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19
    a   b   c   d   e
0   4   2   0   3   1
1   9   7   5   8   6
2  14  12  10  13  11
3  19  17  15  18  16

# № 45

In [15]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

print (df)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

# № 46

In [36]:
import pandas as pd
import numpy as np

pd.reset_option('all')

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

print (df)

pd.options.display.float_format = '{:.4f}'.format

print (df)

     random
0  0.001077
1  0.004636
2  0.000073
3  0.028773
   random
0  0.0011
1  0.0046
2  0.0001
3  0.0288

/tmp/ipykernel_24055/286223174.py:4: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
/tmp/ipykernel_24055/286223174.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
/tmp/ipykernel_24055/286223174.py:4: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

# № 47

In [48]:
import pandas as pd 

pd.reset_option('all')

df = pd.DataFrame(np.random.random(4), columns=['random'])

print (df)

pd.options.display.float_format = '{:.2%}'.format

print (df)

pd.reset_option('all')

     random
0  0.815175
1  0.976020
2  0.167339
3  0.844800
   random
0  81.52%
1  97.60%
2  16.73%
3  84.48%

/tmp/ipykernel_24055/720443928.py:3: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
/tmp/ipykernel_24055/720443928.py:3: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
/tmp/ipykernel_24055/720443928.py:3: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')
/tmp/ipykernel_24055/720443928.py:13: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
/tmp/ipykernel_24055/720443928.py:13: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
/tmp/ipykernel_24055/720443928.py:13: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

# № 48

In [54]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# print (df)

rows = len(pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'))
print (rows)
skip = [i for i in range(rows) if i % 20 != 0]
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', skiprows= lambda x: x in skip)[['Manufacturer', 'Type', 'Model']]

print (df)

93
  Manufacturer     Type     Model
0          NaN    Large  Concorde
1          Geo   Sporty     Storm
2      Mercury   Sporty       NaN
3       Subaru    Small     Justy
4          NaN  Midsize       850

# № 49

In [62]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df = df.fillna('missing')

df.set_index(['Manufacturer', 'Model', 'Type'], inplace=True)

print (df)

                             Min.Price Max.Price
Manufacturer Model   Type
Acura        Integra Small        12.9      18.8
missing      Legend  Midsize      29.2      38.7
Audi         90      Compact      25.9      32.3
             100     Midsize   missing      44.6
BMW          535i    Midsize   missing   missing
...                                ...       ...
Volkswagen   Eurovan Van          16.6      22.7
             Passat  Compact      17.6      22.4
             Corrado Sporty       22.9      23.7
Volvo        240     Compact      21.8      23.5
missing      850     Midsize      24.8      28.5

[93 rows x 2 columns]

# № 50

In [89]:
import pandas as pd

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

print (df)

print (df['a'].nlargest(5))
max_pos = df['a'].nlargest(5).index[-1]

print ('Position of max: ', max_pos)

    a   b   c
0   9   9   5
1  26  15   2
2   7  13   2
3   4  12  13
4  13  26   5
5  19  13  24
6   5  11   1
7  24   6  12
8  21  15  26
9  13  23   9
1    26
7    24
8    21
5    19
4    13
Name: a, dtype: int64
Position of max:  4

# № 51

In [117]:
import pandas as pd 

ser = pd.Series(np.random.randint(1, 100, 15))

mean = ser.mean()
print (mean)
largest = ser.nlargest(2)
print (largest)

max_pos = largest.index[0] if largest.index[1] <= mean else largest.index[1]

print ('Position of second max value: ', max_pos)

51.0
12    99
11    96
dtype: int64
Position of second max value:  12

# № 52

In [31]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

df['sum'] = df.sum(axis=1, numeric_only=True)

greater_100 = np.array(df['sum'])

greater_100 = greater_100[greater_100 > 100][-2:]


print (df)

print ('Last two elems, greater than 100: ', greater_100)

     0   1   2   3  sum
0   27  38  31  36  132
1   18  18  20  38   94
2   23  16  21  36   96
3   35  11  20  30   96
4   30  33  17  37  117
5   16  33  39  32  120
6   26  18  18  33   95
7   10  17  15  18   60
8   12  19  11  27   69
9   23  31  15  12   81
10  37  39  18  35  129
11  29  20  32  10   91
12  19  10  23  34   86
13  28  38  38  36  140
14  15  28  32  22   97
Last two elems, greater than 100:  [129 140]

# № 53

In [36]:
import pandas as pd
import numpy as np

ser = pd.Series(np.logspace(-2, 2, 30))

percen_5 = np.percentile(ser, 5)
percen_95 = np.percentile(ser, 95)

print (percen_5)
print (percen_95)
print ('Original series: ')
print (ser)

ser = ser.apply(lambda x: percen_95 if x > percen_95 else x)
ser = ser.apply(lambda x: percen_5 if x < percen_5 else x)
print ('Changed series: ')
print (ser)

0.016049294076965887
63.87667222018393
Original series:
0       0.010000
1       0.013738
2       0.018874
3       0.025929
4       0.035622
5       0.048939
6       0.067234
7       0.092367
8       0.126896
9       0.174333
10      0.239503
11      0.329034
12      0.452035
13      0.621017
14      0.853168
15      1.172102
16      1.610262
17      2.212216
18      3.039195
19      4.175319
20      5.736153
21      7.880463
22     10.826367
23     14.873521
24     20.433597
25     28.072162
26     38.566204
27     52.983169
28     72.789538
29    100.000000
dtype: float64
Changed series:
0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
5      0.048939
6      0.067234
7      0.092367
8      0.126896
9      0.174333
10     0.239503
11     0.329034
12     0.452035
13     0.621017
14     0.853168
15     1.172102
16     1.610262
17     2.212216
18     3.039195
19     4.175319
20     5.736153
21     7.880463
22    10.826367
23    14.873521
24    20.433597
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
dtype: float64

# № 54

In [116]:
import pandas as pd

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))
print (df)
arr = df[df >= 0].values.flatten()
# arr.sort()

size = int(np.floor(np.sqrt(len(arr))))

arr = arr[-size**2:]

df_result = pd.DataFrame(arr.reshape(size, size))

print(df_result)

    0   1   2   3   4   5   6   7   8   9
0   8  19  23   4  29  18  49  -6  27  19
1  17   7 -20 -10   0  27  -7   4   0  21
2 -14  -4  31  34  16  18 -19  23  -9  -2
3   6 -19  10  12  13  -6  33  28  36  47
4  24  -4  48  23  -8  10   3  10   8  21
5  27  24  -9  42   4   8   9  15   9 -16
6   3  36  16  21   7  24   9 -11  20  34
7 -16  29  27  -5  46  47  37   9 -10  21
8  25  20 -16  26  -6  18  -6  43   3  14
9  33  47 -15   9   1  37  40   9 -13  -5
      0     1     2     3     4     5     6     7     8     9
0   8.0  19.0  23.0   4.0  29.0  18.0  49.0   NaN  27.0  19.0
1  17.0   7.0   NaN   NaN   0.0  27.0   NaN   4.0   0.0  21.0
2   NaN   NaN  31.0  34.0  16.0  18.0   NaN  23.0   NaN   NaN
3   6.0   NaN  10.0  12.0  13.0   NaN  33.0  28.0  36.0  47.0
4  24.0   NaN  48.0  23.0   NaN  10.0   3.0  10.0   8.0  21.0
5  27.0  24.0   NaN  42.0   4.0   8.0   9.0  15.0   9.0   NaN
6   3.0  36.0  16.0  21.0   7.0  24.0   9.0   NaN  20.0  34.0
7   NaN  29.0  27.0   NaN  46.0  47.0  37.0   9.0   NaN  21.0
8  25.0  20.0   NaN  26.0   NaN  18.0   NaN  43.0   3.0  14.0
9  33.0  47.0   NaN   9.0   1.0  37.0  40.0   9.0   NaN   NaN

# № 55

In [60]:
import pandas as pd 

df = pd.DataFrame(np.arange(25).reshape(5, -1))
print(df)

tmp = df.iloc[0, 0:5].values.tolist()
df.loc[0, 0:5] = df.iloc[1, 0:5].values.tolist()
df.loc[1, 0:5] = tmp
print (df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
    0   1   2   3   4
0   5   6   7   8   9
1   0   1   2   3   4
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

# № 56

In [66]:
import pandas as pd
import numpy as np

def changeRows(df, row1, row2):
    tmp = df.iloc[row1, 0:5].values.tolist()
    df.loc[row1, 0:5] = df.iloc[row2, 0:5].values.tolist()
    df.loc[row2, 0:5] = tmp

df = pd.DataFrame(np.arange(25).reshape(5, -1))

print (df)

for i in range(len(df) // 2):
    changeRows(df, i, len(df)-i-1)

print (df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
    0   1   2   3   4
0  20  21  22  23  24
1  15  16  17  18  19
2  10  11  12  13  14
3   5   6   7   8   9
4   0   1   2   3   4

# № 57

In [68]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

bin_cols = pd.get_dummies(df['a'])

df = pd.concat([bin_cols, df.drop('a', axis=1)], axis=1)

print (df)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

# № 58

In [60]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), 
                  columns=list('abcd'))

print (df)

ser = df.idxmax(axis=1)

print (ser)

ser2 = ser.groupby(ser.values.tolist()).size()
print (ser2)

print ('Column with max row max: ', ser2.idxmax())

    a   b   c   d
0  22  14  15  79
1  90  82  92  34
2  37  65  99  33
3  52  93  27   3
4  63   6  69  26
5   2  94  71  88
6  18  71  82  64
7   4  40  90  79
8  74  25  48   9
9  79  50  90   1
0    d
1    c
2    c
3    b
4    c
5    b
6    c
7    c
8    a
9    c
dtype: object
a    1
b    2
c    6
d    1
dtype: int64
Column with max row max:  c

# № 59

In [75]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), 
                  columns=list('pqrs'), index=list('abcdefghij'))

print (df)

def euclidean_distance(row1, row2):
    return np.sqrt(((row1 - row2)**2).sum())

dist_df = pd.DataFrame(index=df.index, columns=df.index, dtype=float)

for i, row1 in df.iterrows():
    for j, row2 in df.iterrows():
        dist_df.loc[i, j] = euclidean_distance(row1, row2)

np.fill_diagonal(dist_df.values, np.nan)
# print (dist_df)
df['nearest_row'] = dist_df.idxmin(axis=1)

df['dist'] = dist_df.min(axis=1)

print (df)

    p   q   r   s
a  40  95  15  24
b   5  24  85  99
c  49  47  88  88
d  62  30  26  97
e  97  35  69  22
f  87  30   1  99
g   3  62  73  13
h  10  87  71   8
i  64   8  77  90
j  52  13  75  25
    p   q   r   s nearest_row       dist
a  40  95  15  24           h  66.000000
b   5  24  85  99           c  50.941143
c  49  47  88  88           i  43.255058
d  62  30  26  97           f  35.411862
e  97  35  69  22           j  50.537115
f  87  30   1  99           d  35.411862
g   3  62  73  13           h  26.514147
h  10  87  71   8           g  26.514147
i  64   8  77  90           c  43.255058
j  52  13  75  25           e  50.537115

# № 60

In [99]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), 
                  columns=list('pqrstuvwxy'), index=list('abcdefgh'))

print (df)

corr_df = pd.DataFrame(index=df.columns, columns=df.columns)

for col1 in df:
    for col2 in df:
        corr_df.loc[col1, col2] = df[col1].corr(df[col2])
np.fill_diagonal(corr_df.values, np.nan)

print (corr_df)
corr_df = corr_df.applymap(lambda x : abs(x) if not pd.isnull(x) else x)
ser = corr_df.max(axis=0)
print ('Max correlation')
print (ser)

    p   q   r   s   t   u   v   w   x   y
a  54  36  64  32  17  75  44  45   6  56
b  96  82  22  48  98   4  36  90  28  50
c  50  25  93  92  14  68  84  98  18  92
d  29  41   3  84  26  46  76  42  55  73
e  20  69  56  68  78  93  45  27  23  99
f  74  17  43  83  59  22  72   1  27  91
g  32  61  82  77  35  32  93  12  50  90
h  22   6  75  12  28  29  79  30  45  76
          p         q         r         s         t         u         v  \
p       NaN  0.218594 -0.303782  0.042392  0.468475 -0.539773 -0.435022
q  0.218594       NaN  -0.32391  0.152936  0.666008 -0.002343 -0.518697
r -0.303782  -0.32391       NaN -0.106701 -0.445802  0.324406  0.404387
s  0.042392  0.152936 -0.106701       NaN -0.009481  0.132426   0.37506
t  0.468475  0.666008 -0.445802 -0.009481       NaN -0.320701 -0.616232
u -0.539773 -0.002343  0.324406  0.132426 -0.320701       NaN -0.158291
v -0.435022 -0.518697  0.404387   0.37506 -0.616232 -0.158291       NaN
w     0.396  0.222343  0.000034  0.016947  0.022148  0.028051 -0.270186
x -0.412394 -0.010307 -0.283791  0.113219 -0.070703 -0.466516  0.586328
y   -0.5147 -0.204028  0.433457  0.571347 -0.108199  0.366924  0.546306

          w         x         y
p     0.396 -0.412394   -0.5147
q  0.222343 -0.010307 -0.204028
r  0.000034 -0.283791  0.433457
s  0.016947  0.113219  0.571347
t  0.022148 -0.070703 -0.108199
u  0.028051 -0.466516  0.366924
v -0.270186  0.586328  0.546306
w       NaN -0.341939 -0.417776
x -0.341939       NaN  0.145995
y -0.417776  0.145995       NaN
Max correlation
p    0.539773
q    0.666008
r    0.445802
s    0.571347
t    0.666008
u    0.539773
v    0.616232
w    0.417776
x    0.586328
y    0.571347
dtype: float64

# № 61

In [101]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df['max'] = df.max(axis=1)
df['min'] = df.min(axis=1)
print (df)

    0   1   2   3   4   5   6   7   8   9  max  min
0  38  19  80  83  74  59  15  17  29   7   83    7
1  10  25  35  26  91  29   4  53  51  89   91    4
2  34   3  72  98  67  79  44   3  83  31   98    3
3  83  96   1   7  13  19  78  65  32   5   96    1
4  65  43  29  96  49  16  57  73  35  86   96   16
5   7  65  99  76  24   1  60  25  92  45   99    1
6  74   5   5  62  14  68  16  32  90  30   90    5
7  11  22  78  70  97  36  59  20  28  39   97   11

# № 62

In [115]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df['penultimate'] = df.apply(lambda x: sorted(x,reverse=True)[1], axis=1)

print (df)

    0   1   2   3   4   5   6   7   8   9  penultimate
0   2  51   1  83   6   4  14  43  65   3           65
1  93  67  14  43  83  48  88  88   5  69           88
2   7  89   6  93  52  80  39  20  29  56           89
3  72  83  81   3  87  34  76  17  54  13           83
4  20  91  47   7  31  43  29  21  84  55           84
5  28  78   1   5  24  77  71  67  53  84           78
6  49  92  77  21  64  73  61   4  68  12           77
7  25  75  50  35  15  51  32  99  26  82           82

# № 63

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

print (df)
def mean_value(row):
    return (row - row.mean()) / row.std()

df = df.apply(mean_value)

df = (df - df.min()) / (df.max() - df.min())

pd.options.display.float_format = '{:.2f}'.format
print (df)

pd.reset_option("all")

    0   1   2   3   4   5   6   7   8   9
0  80  73   4  78  59  86  94  74   3  44
1  94  95  24  47  36  57  32  52  70  44
2  75  55  24  82  25  35  26  68  69   6
3  96  36  30  19  59  65  34  74  65  82
4  62   6  35   5  99  43  16  36  26  66
5  67  46  55  54  43  60  62  46   4  81
6  60  47  65  10  87  75   8  88  23  15
7  80  77  38  62  43  92  93  34  41   5
     0    1    2    3    4    5    6    7    8    9
0 0.56 0.75 0.00 0.95 0.46 0.89 1.00 0.74 0.00 0.51
1 0.94 1.00 0.33 0.55 0.15 0.39 0.28 0.33 1.00 0.51
2 0.42 0.55 0.33 1.00 0.00 0.00 0.21 0.63 0.99 0.01
3 1.00 0.34 0.43 0.18 0.46 0.53 0.30 0.74 0.93 1.00
4 0.06 0.00 0.51 0.00 1.00 0.14 0.09 0.04 0.34 0.79
5 0.19 0.45 0.84 0.64 0.24 0.44 0.63 0.22 0.01 0.99
6 0.00 0.46 1.00 0.06 0.84 0.70 0.00 1.00 0.30 0.13
7 0.56 0.80 0.56 0.74 0.24 1.00 0.99 0.00 0.57 0.00

/tmp/ipykernel_5097/3425858527.py:17: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option("all")
/tmp/ipykernel_5097/3425858527.py:17: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option("all")
/tmp/ipykernel_5097/3425858527.py:17: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option("all")

# № 64

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

corr = df.corrwith(df.shift(-1, axis=0, fill_value=np.nan), axis=1, method='pearson')

print (corr)

0    0.027935
1   -0.161846
2    0.186970
3   -0.853299
4   -0.016119
5    0.137728
6   -0.228441
7         NaN
dtype: float64

# № 65

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

np.fill_diagonal(df.values, 0)

np.fill_diagonal(np.fliplr(df.values), 0)

print (df)

    0   1   2   3   4   5   6   7   8   9
0   0  95   9  23  59  50  42  92  58   0
1  37   0  25  48  36  81  57  66   0  35
2  98  45   0  24  39  89  32   0  39   5
3  85  93  32   0  72   2   0  95  11  86
4  17  48  47  73   0   0  51  77  78  35
5  85  69  93  33   0   0  44  70  69  32
6  18  65  52   0  94  73   0  95  39  32
7  68  14   0  68  54  21  97   0  41  24
8  74   0  45  64  50  35  26  71   0  70
9   0  98  74  86  50  45  25  38  73   0

# № 66

In [21]:
import pandas as pd
import numpy as np 

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])

apples = df_grouped.get_group('apple')

print (apples)

    col1      col2  col3
0  apple  0.503707    13
3  apple  0.793850     4
6  apple  0.485117     0

# № 67

In [26]:
import pandas as pd

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

sec_highest = df[df['fruit'] == 'banana']['taste'].nlargest(2).iloc[-1]
print (df)

print ("{:.3f}".format(sec_highest))

    fruit     taste  price
0   apple  0.050338      8
1  banana  0.164108     13
2  orange  0.013371      3
3   apple  0.261493     12
4  banana  0.451996      8
5  orange  0.890713      5
6   apple  0.824619      2
7  banana  0.983193      3
8  orange  0.578207     11
0.452

# № 68

In [47]:
import pandas as pd

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})



group = df.groupby(['fruit'])['price'].mean().reset_index()

group.set_index('fruit', inplace=True)
print (group)

           price
fruit
apple   5.666667
banana  5.666667
orange  5.333333

# № 69

In [50]:
import pandas as pd
import numpy as np 

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

print (df1)
print (df2)

merged_df = pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'])

print (merged_df)

    fruit  weight  price
0   apple    high      7
1  banana  medium     12
2  orange     low     12
3   apple    high      2
4  banana  medium     11
5  orange     low     10
6   apple    high     11
7  banana  medium      1
8  orange     low      3
   pazham  kilo  price
0   apple  high      4
1  orange   low      3
2    pine  high      2
3   apple   low      3
4  orange  high      2
5    pine   low     14
    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        7   apple  high        4
1   apple   high        2   apple  high        4
2   apple   high       11   apple  high        4
3  orange    low       12  orange   low        3
4  orange    low       10  orange   low        3
5  orange    low        3  orange   low        3

# № 70

In [54]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

df['lag1'] = df['a'].shift(periods=1, axis=0, fill_value=np.nan)

df['b_lead1'] = df['b'].shift(periods=-1, axis=0, fill_value=np.nan)

print (df)

    a   b   c   d  lag1  b_lead1
0  72  60  65  48   NaN     92.0
1  43  92  23  86  72.0     41.0
2  54  41  14  95  43.0     50.0
3  64  50  49  79  54.0     33.0
4  80  33  79  47  64.0      NaN

# № 71

In [57]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

values = df.values.flatten()

unique_values, counts = np.unique(values, return_counts=True)

freq_df = pd.DataFrame({'value' : unique_values, 'Freq':counts})
print (df)
print (freq_df)

   a  b  c  d
0  9  4  6  5
1  1  5  7  3
2  7  5  2  3
3  2  1  3  7
4  6  5  7  6
   value  Freq
0      1     2
1      2     2
2      3     3
3      4     1
4      5     4
5      6     3
6      7     4
7      9     1

# № 72

In [68]:
import pandas as pd

df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

df = df['row'].str.replace(',', '').str.split().apply(lambda x: ' '.join(x))
#  df = df['row'].str.split(r'\s|,')

print (df)

0            STD City State
1    33 Kolkata West Bengal
2     44 Chennai Tamil Nadu
3    40 Hyderabad Telengana
4    80 Bangalore Karnataka
Name: row, dtype: object