# №1

In [14]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))


ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser1)
print(ser2)
print(ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# №2

In [9]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

frame = ser.to_frame().reset_index()

print(frame)

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# № 3

In [22]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({'col1': ser1, 'col2' : ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

# № 4

In [15]:
import pandas as pd 
import numpy as np

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "latin-letters"

print(ser.head(10))

0    a
1    b
2    c
3    e
4    d
5    f
6    g
7    h
8    i
9    j
Name: latin-letters, dtype: object

# № 5

In [16]:
import pandas as pd 
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# № 6

In [17]:
import pandas as pd 
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# № 7

In [19]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 4.81933068,  9.78091985, 12.02125957, 15.31682401, 19.837484  ])

# № 8

In [20]:
import pandas as pd 
import numpy as np


ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    6
d    6
g    5
h    5
b    4
e    2
f    1
a    1
Name: count, dtype: int64

# № 9

In [31]:
import pandas as pd 
import numpy as np


np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Ton 2: ", ser.value_counts())

ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

Ton 2:  4    3
1    3
3    3
2    3
Name: count, dtype: int64

C:\Users\matve\AppData\Local\Temp\ipykernel_6208\3941843665.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

# № 10

In [36]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.random(20))
print(ser.head())

pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']).head()

0    0.157660
1    0.367488
2    0.881138
3    0.655473
4    0.222542
dtype: float64

0     1
1     3
2    10
3     6
4     2
dtype: category
Categories (10, object): ['1' < '2' < '3' < '4' ... '7' < '8' < '9' < '10']

# № 11

In [38]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7,5))

print(df)

   0  1  2  3  4
0  3  1  2  4  3
1  9  4  8  1  5
2  7  4  2  1  1
3  9  5  6  8  5
4  5  8  7  7  2
5  4  5  2  9  8
6  7  4  6  9  4

# № 12

In [40]:
ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)

np.argwhere(ser % 3 == 0)

0    5
1    9
2    6
3    7
4    3
5    4
6    2
dtype: int32

array([[1],
       [2],
       [4]], dtype=int64)

# № 13

In [41]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print(ser.take(pos))

0     a
4     e
8     i
14    o
20    u
dtype: object

# № 14

In [19]:
import numpy as np
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

ser3 = pd.concat([ser1, ser2], axis=1)

print(ser3)

ser4 = pd.concat([ser1, ser2], axis=0)

print (ser4)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

# № 15

In [22]:
import numpy as np
import pandas as pd

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

res = [pd.Index(ser1).get_loc(i) for i in ser2]

print(res)

[5, 4, 0, 8]

# № 16

In [32]:
import numpy as np
import pandas as pd
import sklearn.metrics as sm

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = sm.mean_squared_error(truth, pred)

print(mse)

0.3512259054649033

# № 17

In [53]:
import numpy as np
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser = ser.str.capitalize()

print(ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

# № 18

In [54]:
import numpy as np
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

res = [len(x) for x in ser]

print(res)

[3, 2, 4, 4]

# № 19

In [55]:
import numpy as np
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

res = [ser[i]-ser[i-1] for i in range(1,len(ser))]

print(res)

[2, 3, 4, 5, 6, 6, 8]

# № 20

In [56]:
import numpy as np
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser = ser.apply(pd.to_datetime)

print(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# № 21

In [89]:
import numpy as np
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser = ser.apply(pd.to_datetime)

print("Date: ", [pd.Index(ser).get_loc(x)+1 for x in ser])
print("Week number: ", [x.weekofyear for x in ser])
print("Day num of year: ", [x.dayofyear for x in ser])
print("Day of week: ", [x.dayofweek for x in ser])

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]

# № 22

In [91]:
import numpy as np
import pandas as pd
 
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.apply(lambda x: x.join('01'))

ser = ser.apply(pd.to_datetime)

print(ser)

0   2010-01-01
1   2011-02-01
2   2012-03-01
dtype: datetime64[ns]

# № 23

In [101]:
import numpy as np
import pandas as pd
 
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = "aeiou"
index = [pd.Index(ser).get_loc(x) for x in ser if len([c for c in x.lower() if c in vowels]) >= 2]

ser.take(index)

0     Apple
1    Orange
4     Money
dtype: object

# № 24

In [137]:
import numpy as np
import pandas as pd

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

print(pd.Series([itm for itm in emails.str.findall(pattern) if len(itm) > 0]))

0    [rameses@egypt.com]
1            [matt@t.co]
2    [narendra@modi.com]
dtype: object

# № 25

In [27]:
import numpy as np
import pandas as pd

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist(), len(weights))
print(fruit.tolist(), len(fruit))


data = pd.DataFrame({"fruit": fruit, "weights": weights})
data = data.groupby(["fruit"]).mean()
print(data)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0] 10
['carrot', 'banana', 'banana', 'apple', 'carrot', 'apple', 'carrot', 'apple', 'apple', 'carrot'] 10
        weights
fruit
apple      6.75
banana     2.50
carrot     5.75

# № 26

In [33]:
from numpy.linalg import norm
import pandas as pd

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

res = norm(p-q)

print(format(res,".3f"))

18.166

# № 27

In [8]:
import pandas as pd 
import numpy as np

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = np.where((ser > ser.shift(1)) & (ser > ser.shift(-1)))[0]

print(peaks)

[1 5 7]

# № 28

In [39]:
import pandas as pd

my_str = 'dbc deb abed gade'

ser = pd.Series(list(my_str))

least_freq = ser.value_counts(ascending=True).index[0]

res = "".join(ser.replace(' ', least_freq)) 

print(res, "# least frequent is: '", least_freq,"'")

dbccdebcabedcgade # least frequent is: ' c '

# № 29

In [31]:
import pandas as pd 
from random import randint

dates = pd.date_range(start="2000-01-01", periods=10, freq="W-SAT", inclusive='left')

rand = [randint(0,100) for _ in range(len(dates))]

ser = pd.Series(rand, index=dates)

print (ser)

2000-01-01     43
2000-01-08     46
2000-01-15     64
2000-01-22     27
2000-01-29     49
2000-02-05     24
2000-02-12    100
2000-02-19     43
2000-02-26     65
2000-03-04     16
Freq: W-SAT, dtype: int64

# № 30

In [36]:
import pandas as pd
import numpy as np 

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

ser = ser.resample('D').ffill()
print(ser)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

# № 31

In [1]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

ValueError: Shape of passed values is (20, 1), indices imply (20, 2)

# № 32

In [12]:
import pandas as pd 
import csv

rows = len(pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'))
print (rows)
skip = [i for i in range(rows) if i % 50 != 0]
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', skiprows= lambda x: x in skip)

print (df)

506
       crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0   0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1   0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2   2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3   0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4   0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5   0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6   0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7   9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8   7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9   0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2
10  0.04741   0  11.93     0  0.573  6.030  80.8  2.5050    1  273     21.0

         b  lstat  medv
0   396.90  16.20  19.4
1   396.90   6.19  33.2
2   351.85  21.45  15.4
3   396.90   4.56  34.9
4   393.74   6.56  26.2
5   371.58   4.74  29.0
6   389.85   5.89  26.6
7   338.16  29.97   6.3
8   304.21  19.31  13.0
9   395.77  15.10  17.5
10  396.90   7.88  11.9

# № 33

In [19]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv').rename(columns={'medv': 'median house value'})
df['median house value'] = df['median house value'].apply(lambda x: 'Low'  if x < 25 else 'High')

print (df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat median house value
0       15.3  396.90   4.98                Low
1       17.8  396.90   9.14                Low
2       17.8  392.83   4.03               High
3       18.7  394.63   2.94               High
4       18.7  396.90   5.33               High
..       ...     ...    ...                ...
501     21.0  391.99   9.67                Low
502     21.0  396.90   9.08                Low
503     21.0  396.90   5.64                Low
504     21.0  393.45   6.48                Low
505     21.0  396.90   7.88                Low

[506 rows x 14 columns]

# № 34

In [24]:
import pandas as pd
import numpy as np

L = pd.Series(range(15))

    0   1   2     3
0   0   1   2   3.0
1   4   5   6   7.0
2   8   9  10  11.0
3  12  13  14   NaN

# № 35

In [27]:
import pandas as pd 

csv = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])

print (csv)

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

# № 36

In [31]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
arr = df.to_numpy()
l = df.values.tolist()

print (df.info())

print ('numpy array: ', arr)

print ('list: ', l)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             87 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
None
numpy array:  [['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

# № 37

In [32]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

max_price_idx = df['Price'].idxmax()

manufacturer = df.loc[max_price_idx, 'Manufacturer']
model = df.loc[max_price_idx, 'Model']
car_type = df.loc[max_price_idx, 'Type']

print ('Manufacturer: ', manufacturer)
print ('Model: ', model)
print ('Car type: ', car_type)

print ('row: ', max_price_idx)
print ('col: ', df.columns.get_loc('Price'))

Manufacturer:  Mercedes-Benz
Model:  300E
Car type:  Midsize
row:  58
col:  4

# № 38

In [37]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df = df.rename(columns={'Type' : 'CarType'})
df.columns = df.columns.str.replace('.','-')
print (df)

   Manufacturer    Model  CarType  Min-Price  Price  Max-Price  MPG-city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG-highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn-circle Rear-seat-room  Luggage-room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

/tmp/ipykernel_2353/357511235.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.','-')

# № 39

In [38]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_vals = df.isnull().any().any()

print (missing_vals if missing_vals else 'There no missing values')

True

# № 40

In [52]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_vals = df.isnull().sum()
# print (missing_vals)
print (missing_vals.idxmax())

Luggage.room

# № 41

In [57]:
import pandas as pd 

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print (df[['Max.Price', 'Min.Price']].head())
print (df['Min.Price'].mean())
print (df['Max.Price'].mean())

df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)
df['Max.Price'].fillna(df['Max.Price'].mean(), inplace=True)

print(df[['Max.Price', 'Min.Price']].head())

   Max.Price  Min.Price
0       18.8       12.9
1       38.7       29.2
2       32.3       25.9
3       44.6        NaN
4        NaN        NaN
17.118604651162787
21.45909090909091
   Max.Price  Min.Price
0  18.800000  12.900000
1  38.700000  29.200000
2  32.300000  25.900000
3  44.600000  17.118605
4  21.459091  17.118605

# № 42

In [64]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

mean_value = df['Min.Price'].mean()
median_value = df['Max.Price'].median()


df['Min.Price'] = df['Min.Price'].apply(lambda x: mean_value if pd.isnull(x) else x)
df['Max.Price'] = df['Max.Price'].apply(lambda x: median_value if pd.isnull(x) else x)

print (df[['Max.Price', 'Min.Price']].head())

   Max.Price  Min.Price
0      18.80  12.900000
1      38.70  29.200000
2      32.30  25.900000
3      44.60  17.118605
4      19.15  17.118605

# № 43

In [65]:
import pandas as pd

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

res = df[['a']]

print (type(res))
print (res)

<class 'pandas.core.frame.DataFrame'>
    a
0   0
1   5
2  10
3  15

# № 44

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))