# №1

In [4]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))


ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int32

# №2

In [9]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

frame = ser.to_frame().reset_index()

print(frame)

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

# № 3

In [13]:
import numpy as np
import pandas as pd

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({'col1': ser1, 'col2' : ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

# № 4

In [15]:
import pandas as pd 
import numpy as np

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = "latin-letters"

print(ser.head(10))

0    a
1    b
2    c
3    e
4    d
5    f
6    g
7    h
8    i
9    j
Name: latin-letters, dtype: object

# № 5

In [16]:
import pandas as pd 
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# № 6

In [17]:
import pandas as pd 
import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# № 7

In [19]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 4.81933068,  9.78091985, 12.02125957, 15.31682401, 19.837484  ])

# № 8

In [20]:
import pandas as pd 
import numpy as np


ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    6
d    6
g    5
h    5
b    4
e    2
f    1
a    1
Name: count, dtype: int64

# № 9

In [31]:
import pandas as pd 
import numpy as np


np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Ton 2: ", ser.value_counts())

ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

Ton 2:  4    3
1    3
3    3
2    3
Name: count, dtype: int64

C:\Users\matve\AppData\Local\Temp\ipykernel_6208\3941843665.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

# № 10

In [36]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.random(20))
print(ser.head())

pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']).head()

0    0.157660
1    0.367488
2    0.881138
3    0.655473
4    0.222542
dtype: float64

0     1
1     3
2    10
3     6
4     2
dtype: category
Categories (10, object): ['1' < '2' < '3' < '4' ... '7' < '8' < '9' < '10']

# № 11

In [38]:
import pandas as pd 
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7,5))

print(df)

   0  1  2  3  4
0  3  1  2  4  3
1  9  4  8  1  5
2  7  4  2  1  1
3  9  5  6  8  5
4  5  8  7  7  2
5  4  5  2  9  8
6  7  4  6  9  4

# № 12

In [40]:
ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)

np.argwhere(ser % 3 == 0)

0    5
1    9
2    6
3    7
4    3
5    4
6    2
dtype: int32

array([[1],
       [2],
       [4]], dtype=int64)

# № 13

In [41]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print(ser.take(pos))

0     a
4     e
8     i
14    o
20    u
dtype: object

# № 14

In [19]:
import numpy as np
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

ser3 = pd.concat([ser1, ser2], axis=1)

print(ser3)

ser4 = pd.concat([ser1, ser2], axis=0)

print (ser4)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

# № 15

In [22]:
import numpy as np
import pandas as pd

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

res = [pd.Index(ser1).get_loc(i) for i in ser2]

print(res)

[5, 4, 0, 8]

# № 16

In [32]:
import numpy as np
import pandas as pd
import sklearn.metrics as sm

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = sm.mean_squared_error(truth, pred)

print(mse)

0.3512259054649033

# № 17

In [53]:
import numpy as np
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser = ser.str.capitalize()

print(ser)

0     How
1      To
2    Kick
3    Ass?
dtype: object

# № 18

In [54]:
import numpy as np
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

res = [len(x) for x in ser]

print(res)

[3, 2, 4, 4]

# № 19

In [55]:
import numpy as np
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

res = [ser[i]-ser[i-1] for i in range(1,len(ser))]

print(res)

[2, 3, 4, 5, 6, 6, 8]

# № 20

In [56]:
import numpy as np
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser = ser.apply(pd.to_datetime)

print(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# № 21

In [89]:
import numpy as np
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser = ser.apply(pd.to_datetime)

print("Date: ", [pd.Index(ser).get_loc(x)+1 for x in ser])
print("Week number: ", [x.weekofyear for x in ser])
print("Day num of year: ", [x.dayofyear for x in ser])
print("Day of week: ", [x.dayofweek for x in ser])

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  [4, 2, 5, 3, 0, 5]

# № 22

In [91]:
import numpy as np
import pandas as pd
 
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.apply(lambda x: x.join('01'))

ser = ser.apply(pd.to_datetime)

print(ser)

0   2010-01-01
1   2011-02-01
2   2012-03-01
dtype: datetime64[ns]

# № 23

In [101]:
import numpy as np
import pandas as pd
 
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = "aeiou"
index = [pd.Index(ser).get_loc(x) for x in ser if len([c for c in x.lower() if c in vowels]) >= 2]

ser.take(index)

0     Apple
1    Orange
4     Money
dtype: object

# № 24

In [137]:
import numpy as np
import pandas as pd

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

print(pd.Series([itm for itm in emails.str.findall(pattern) if len(itm) > 0]))

0    [rameses@egypt.com]
1            [matt@t.co]
2    [narendra@modi.com]
dtype: object

# № 25

In [151]:
import numpy as np
import pandas as pd

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'apple', 'carrot', 'apple', 'carrot', 'apple', 'carrot', 'carrot', 'carrot', 'carrot']

C:\Users\matve\AppData\Local\Temp\ipykernel_11292\2891951027.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if ser[i] == 'carrot':
C:\Users\matve\AppData\Local\Temp\ipykernel_11292\2891951027.py:22: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif ser[i] == 'apple':
C:\Users\matve\AppData\Local\Temp\ipykernel_11292\2891951027.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif ser[i] == 'banana':

IndexError: index 2 is out of bounds for axis 0 with size 2